@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Joel's Movies List";
}
@model IEnumerable<TrevorSchmidtAssignment3.Models.Movie>

<div>
    <!-- Info -->
    <h2>Here are the movies that Joel owns</h2>

    <!-- Style for table-->
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <!-- Table -->
    <table>
        <!-- Headers-->
        <thead>
            <tr><th>Category:</th><th>Title:</th><th>Director:</th><th>Rating:</th><th>Edited:</th><th>Lent To:</th><th>Notes:</th><th>Edit:</th><th>Remove:</th></tr>
        </thead>

        <!-- Data -->
        <tbody>
            @foreach (TrevorSchmidtAssignment3.Models.Movie m in Model)
            {
                <!-- WILL NOT SHOW INDEPENDENCE DAY -->
                @if (m.Title != "Independence Day")
                {
                    <tr>
                        <td>@m.Category</td>
                        <td>@m.Title</td>
                        <td>@m.Director</td>
                        <td>@m.Rating</td>
                        <td>@m.Edited</td>
                        <td>@m.LentTo</td>
                        <td>@m.Notes</td>
                        @*Added in these two buttons, to delete or edit any movie in the db*@
                        <td>
                            <button class="btn btn-success" onclick="location.href='@Url.Action("EditMovie", "Home", m)'">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="location.href='@Url.Action("RemoveMovie", "Home", m)'">Remove</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>